<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>

	<div class="container_animalInfo">
	
	<div>
			<ol class="breadcrumb" style="background-color:white">
				<li><a th:href="@{/adopt}">Go
						back</a></li>
			</ol>

		</div>
		<div class="row">
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<img th:src="#{adminPath}+@{/image/animals/}+${animal.id}+'.png'"
							class="img-responsive center-block" />
					</div>
				</div>
			</div>
			<div class="col-xs-5">
				<h3 th:text="${animal.name}"></h3>
				<div class="row">
					<div class="col-xs-4">
						<p>
							<strong>Species: </strong><span th:text="${animal.species}"></span>
						</p>
						<p>
							<strong>Age: </strong><span th:text="${animal.age}"></span>
						</p>
						<p>
							<strong>Weight: </strong><span th:text="${animal.weight}"></span>
						</p>
						<p>
							<strong>Height: </strong><span th:text="${animal.height}"></span>
						</p>
					</div>
				</div>
				<hr style="color: blue" />
				<p>

					<Strong>Description: </Strong><span th:text="${animal.description}"></span>
				</p>
			</div>
		</div>
	</div>
</body>
</html>
