* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.container_footer {
	min-height: 20px;
	background-color: black;
	text-align: center;
	color: white;
	padding: 10px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0px;
}

.container_animalInfo {
	margin:200px 0px 0px 600px;
}

.container_header {
	margin: 35px;
	display: flex;
	align-items: center;
}

.container_logo h1 a {
	color: blue;
}

.container_logo h1 a:hover {
	transition: all 0.3s ease 0s;
	color: green;
}

.container_navigation {
	padding-left: 200px;
	padding-top: 10px;
}

.container_navigation li {
	display: inline-block;
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	padding-right: 50px;
}

.container_navigation li a {
	color: black;
	transition: all 0.3s ease 0s;
}

.container_navigation li a:hover {
	color: blue;
}

.container_logo h1 {
	padding-left: 0px 30px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	font-size: 40px;
	font-weight: 200;
}

.container_logo h1 span {
	font-family: 'Akaya Telivigala', cursive;
	font-weight: 800;
}

.container {
	background-color: rgb(235, 235, 235);
}

.container p {
	text-align: center;
	margin: 0 auto;
	font-size: 18px;
	letter-spacing: 3px;
	line-height: 1.7;
	margin-top: 75px;
}

h1 {
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	text-align: center;
}

.container__mainTitle {
	font-family: 'Akaya Telivigala', cursive;
	font-weight: 800;
	margin-bottom:100px;
}

.container__aboutUs_picture1 {
	text-align: center;
}

.dogs {
	margin-top: 100px;
	height: 500px;
}

.container__aboutUs_picture2 {
	text-align: center;
}

.house {
	margin-top: 100px;
	height: 500px;
}

.container__aboutUs_picture3 {
	text-align: center;
}

.entrance {
	margin-top: 100px;
	height: 500px;
}

.dogWalking {
	height: 400px;
	margin-right: 50px;
}

.container__dogWalking {
	margin-top: 100px;
	display: flex;
	justify-content: flex-start;
}

.container__dogWalking span {
	font-weight: 800;
	margin-bottom: 20px;
}

h2 {
	text-align: center;
}

.container__feedingAnimals {
	margin-top: 100px;
	display: flex;
}

.container__feedingAnimals span {
	font-weight: 800;
	margin-bottom: 20px;
}

.feedingAnimals {
	margin-right: 50px;
	height: 500px;
}

.container__animalsPhotography {
	margin-top: 100px;
	display: flex;
}

.container__animalsPhotography span {
	font-weight: 800;
	margin-bottom: 20px;
}

.animalsPhotography {
	height: 500px;
	margin-right: 50px;
}

.container__animalsTransport {
	margin-top: 100px;
	display: flex;
}

.container__animalsTransport span {
	font-weight: 800;
	margin-bottom: 20px;
}

.animalsTransport {
	height: 820px;
	margin-right: 50px;
}

.container__mainPicture {
	display:flex;
	justify-content: center;
	margin-bottom:150px;
}

.container__mainPicture img {
	height:1070px;
	
}

.container__adoptPicture{
	display:flex;
	justify-content:flex-start;
}

.container__adoptPicture img {
	height:500px;
}

.container__adopt {
	display:flex;
	justify-content: flex-start;
	margin: 50px 0px;
	font-family: 'Akaya Telivigala', cursive;
	font-size: 26px;
	font-weight: 800;
}

.container__volunteerPicture{
	display:flex;
	justify-content: flex-end;
}

.container__volunteerPicture img {
	height:500px;
}

.container__volunteer {
	display:flex;
	justify-content: flex-end;
	margin: 50px 0px;
	font-family: 'Akaya Telivigala', cursive;
	font-size: 26px;
	font-weight: 800;
}